body {
	height: 100vh;
	background-color: #111;
	overflow: hidden;
}

h1 {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 5vh;
	font-family: consolas;
	color: #eee;
}

#win-screen {
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%, 30%);
	padding: 30vh 15vh 15vh 15vh;
	background-color: #111;
	display: none;
	border-radius: 5vh;
}

#stats-container {
	position: absolute;
	top: -10%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, 30%);
	padding: 1vh;
	font-size: 4vh;
	color: #eef;
	font-family: consolas;
	display: grid;
	text-align: center;
	padding-bottom: 5vh;
}


#win-text {
	color: #eef;
	font-family: consolas;
	font-size: 3vh;
	width: 25vh;
}

#stats-box {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 25vh 25vh;
	grid-template-rows: 15vh 1fr;
}

#close {
	position: absolute;
	top: 5%;
	left: 87%;
	font-size: 3vh;
	width: 3.5vh;
	background-color: #111;
	border-radius: 5vh;
	font-family: consolas;
	color: #555;
	outline: none;
	border: none;
	cursor: pointer;
	z-index: 2;
}

#twitter-big {
	display: flex;
	outline: none;
	border: none;
	background-color: #1b95e0;
	color: #fff;

	font-size: 3.5vh;
	padding: 2vh;
	padding-right: 3vh;
	border-radius: 5vh;
	cursor: pointer;
	transition: 0.15s ease;
}

#twitter-big:hover {
	transform: scale(105%, 105%);
}

#twitterimg {
	width: 5vh;
	padding-right: 1vh;
}

.diff-select select {
	outline: none;
	border: none;
	color: #eef;
	padding: 1vh;
	background-color: #22222a;
	border-radius: 5vh;
	font-size: 2.5vh;
	font-family: consolas;
	cursor: pointer;
}

.diff-select div,
.select-selected {
	color: #ffffff;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
}

.twitter-share-button {
}

.stats-type-container {
	display: grid;
}

.stat-info {
	font-size: 5vh;
}

.stat-type {
	font-size: 2vh;
}

#game-container {
	position: relative;
}

#grid {
	display: grid;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 30%);
	max-width: min-content;
	grid-template-columns: repeat(9, 1fr);
}

#submit:hover {
	background-color: limegreen;
	color: #111;
}

.submit-error {
	background-color: crimson !important;
}

#ui {
	position: fixed;
	left: 50%;
	bottom: 10vh;
	transform: translate(-50%, -50%);
	margin: 0 auto;
}

.ui-button {
	position: relative;
	padding: 1.5vh;
	margin-left: 1vh;
	margin-right: 1vh;
	font-size: 2.2vh;
	font-family: consolas;
	border-radius: 3vh;
	outline: none;
	border: none;
	background-color: #22222a;
	color: #eee;
	transition: 0.15s ease-in;
}

.ui-button:hover {
	background-color: crimson;
	cursor: pointer;
	transform: scale3d(105%, 105%, 150%);
}

#notification {
	position: fixed;
	left: 50%;
	bottom: 2vh;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	transition: 0.3s ease;
}

#notification-text {
	font-size: 0vh;
	font-family: consolas;
	color: crimson;
	transition: 0.3s ease;
}

.grid-element {
	border: 0.05vh solid #111;
	border-radius: 1.2vh;
	min-width: 6vh;
	min-height: 6vh;
	background-color: #22222a;
	text-align: center;
	user-select: none;
	font-size: 5vh;
	color: transparent;
	text-shadow: 0 0 0 #eef;
	transition: 0.15s ease-in-out;
	overflow: hidden;
	font-weight: 550;
	font-family: consolas;
	cursor: pointer;
	outline: none;
}

.error {
	background-color: crimson !important;
	font-size: 5vh;
}

.top-border {
	margin-bottom: 0.75vh;
}

.bottom-border {
	margin-bottom: 0.75vh;
}

.right-border {
	margin-right: 0.75vh;
}

.left-border {
	margin-right: 0.75vh;
}

.grid-element::-webkit-inner-spin-button,
.grid-element::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.grid-element:focus,
.grid-element:focus:hover {
	background-color: #44444f;
	user-select: none;
	outline: none;
}

.grid-element:hover {
	background-color: #33333f;
}
